doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(charset="UTF-8")
		title= title
		link(rel="stylesheet", href="/css/index.css")
	body
		.container
			ul.list.clearfix
				li.each-block
					.inner
						p 春江潮水连海平
				li.each-block
					.inner
						p 海上明月共潮生
				li.each-block
					.inner
						p 滟滟随波千万里
				li.each-block
					.inner
						p 何处春江无月明

		script(src="/js/index.js")