doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(charset="UTF-8")
		title= title
		link(rel="stylesheet", href="/css/index.css")
		link(rel="stylesheet", href="/fonts/font-awesome/css/font-awesome.min.css")
	body
		header.header
			ul.nav-list.clearfix
				.slider-nav
				li.each-nav 春江潮水
				li.each-nav 海上明月
				li.each-nav 滟滟随波
				li.each-nav 何处春江
		.container
			ul.list
				li.each-block.top.left
					.inner
						h1.title 春江潮水连海平
						.inner-container
							include pages/page1.jade
				li.each-block.top.right
					.inner
						h1.title 海上明月共潮生
						.inner-container
							include pages/page2.jade
				li.each-block.bottom.left
					.inner
						h1.title 滟滟随波千万里
						.inner-container
							include pages/page3.jade
				li.each-block.bottom.right
					.inner
						h1.title 何处春江无月明
						.inner-container
							include pages/page4.jade

		script(src="/js/zepto.min.js")
		script(src="/js/main.min.js")