doctype html
html
	head
		meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui")
		meta(name="apple-mobile-web-app-capable", content="yes")
		meta(name="apple-mobile-web-app-status-bar-style", content="black")
		meta(charset="UTF-8")
		title= title
		link(rel="apple-touch-icon", sizes="120x120" href="/img/web-app/touch-icon-iphone-retina.png")
		link(rel="apple-touch-startup-image", href="/img/web-app/startup.png")
		link(rel="stylesheet", href="/fonts/font-awesome/css/font-awesome.min.css")
		link(rel="stylesheet", href="/fonts/ionicons-2.0.0/css/ionicons.min.css")
		link(rel="stylesheet", href="/css/index.css")
	body
		header.header
			ul.nav-list.clearfix
				.back-index 首页
				.slider-nav
				li.each-nav 春江潮水
				li.each-nav 海上明月
				li.each-nav 滟滟随波
				li.each-nav 何处春江
		.container
			ul.list
				//- add .scroll to scroll inner
				li.each-block.top.left.scroll
					.inner
						h1.title 春江潮水连海平
						include pages/page1.jade
						//- add .scroll to scroll inner
				li.each-block.top.right.scroll
					.inner
						h1.title 海上明月共潮生
						include pages/page2.jade
						//- add .scroll to scroll inner
				li.each-block.bottom.left.scroll
					.inner
						h1.title 滟滟随波千万里
						include pages/page3.jade
						//- add .scroll to scroll inner
				li.each-block.bottom.right.scroll
					.inner
						h1.title 何处春江无月明
						include pages/page4.jade

		//- script(src="/js/zepto.min.js")
		//- script(src="/js/jquery-2.1.3.min.js")
		script.
			document.write('<script src=/js/' + ('__proto__' in {} ? 'zepto' : 'jquery-2.1.3') + '.min.js><\/script>');
		script(src="/js/zepto.pjax.js")
		script(src="/js/pages/device.js")
		script(src="/js/pages/index.js")
		//- script(src="/js/main.min.js")
		
