extends layout.jade
block content
	.view-center#page1-container
		block content-center-page1
			.page-block
				.each-header
					span.big-size 文章列表
				.each-inner
					ul.articles
						li.article
							a.title(href='/test.html', data-pjax='1') 不一样
							.time 2015-1-12
						-for (var i = 0; i < 10; i++) {
							li.article
								a.title(href='/test#page1', data-pjax='1') 萧萧梧叶送秋声
								.time 2015-1-13
						-}
						
	.view-right
		block content-right-page1