@charset "utf-8";
html,
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
table,
img {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
}
html,
body {
  height: 100%;
  width: 100%;
}
body,
div,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
  padding: 0;
  margin: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  display: block;
  border: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ul,
ol,
li {
  list-style: none;
}
.preloader {
  display: inline-block;
  width: 20px;
  height: 20px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s step-end infinite;
  animation: preloader-spin 1s step-end infinite;
}
.preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%23fff' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
}
@-webkit-keyframes preloader-spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  8.33333333% {
    -webkit-transform: rotate(30deg);
  }
  16.66666667% {
    -webkit-transform: rotate(60deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  33.33333333% {
    -webkit-transform: rotate(120deg);
  }
  41.66666667% {
    -webkit-transform: rotate(150deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  58.33333333% {
    -webkit-transform: rotate(210deg);
  }
  66.66666667% {
    -webkit-transform: rotate(240deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  83.33333333% {
    -webkit-transform: rotate(300deg);
  }
  91.66666667% {
    -webkit-transform: rotate(330deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes preloader-spin {
  0% {
    transform: rotate(0deg);
  }
  8.33333333% {
    transform: rotate(30deg);
  }
  16.66666667% {
    transform: rotate(60deg);
  }
  25% {
    transform: rotate(90deg);
  }
  33.33333333% {
    transform: rotate(120deg);
  }
  41.66666667% {
    transform: rotate(150deg);
  }
  50% {
    transform: rotate(180deg);
  }
  58.33333333% {
    transform: rotate(210deg);
  }
  66.66666667% {
    transform: rotate(240deg);
  }
  75% {
    transform: rotate(270deg);
  }
  83.33333333% {
    transform: rotate(300deg);
  }
  91.66666667% {
    transform: rotate(330deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.pointer {
  cursor: pointer;
}
.pages {
  position: relative;
  width: 100%;
  max-width: 1024px;
  margin: auto;
}
.pages .page-block {
  margin: 15px auto;
}
.pages .page-block .each-header {
  padding: 10px;
  background-color: #f6f6f6;
  border-radius: 3px 3px 0 0;
}
.pages .page-block .each-header .big-size {
  font-size: 20px;
  font-weight: 700;
}
.pages .page-block .each-header .changes {
  font-size: 14px;
  margin-top: 5px;
  color: #838383;
}
.pages .page-block .each-inner {
  padding: 10px;
  background-color: #ffffff;
  border-radius: 0 0 3px 3px;
}
.pages .page-block .each-inner .articles .article {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
.pages .page-block .each-inner .articles .article:first-child {
  padding-top: 0;
}
.pages .page-block .each-inner .articles .article:last-child {
  padding-bottom: 0;
}
.pages .page-block .each-inner .articles .article + .article {
  border-top: 1px solid #eee;
}
.pages .page-block .each-inner .articles .article .title {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
}
.pages .page-block .each-inner .articles .article .time {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 24px;
  text-align: right;
}
.pages .page-block .each-inner .replys {
  font-size: 14px;
}
.pages .page-block .each-inner .replys .each-reply {
  padding: 10px 0;
  position: relative;
}
.pages .page-block .each-inner .replys .each-reply > .left {
  display: inline-block;
  float: left;
  width: 50px;
}
.pages .page-block .each-inner .replys .each-reply > .right {
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-left: 60px;
}
.pages .page-block .each-inner .replys .each-reply > .right .word {
  min-height: 50px;
}
.pages .page-block .each-inner .replys .each-reply > .right .word .user {
  color: tomato;
  margin-bottom: 5px;
}
.pages .page-block .each-inner .replys .each-reply > .right .message {
  text-align: right;
  color: #838383;
}
.pages .page-block .each-inner .replys .each-reply > .right .message > span {
  margin-left: 10px;
}
.pages .page-block .each-inner .replys .each-reply > .right .message > span:before {
  margin-right: 2px;
}
.pages .page-block .each-inner .replys .each-reply > .right .message > span.pointer:hover {
  color: #6a6a6a;
}
.pages .page-block .each-inner .replys .each-reply + .each-reply {
  border-top: 1px solid #ccc;
}
.pages .page-block .each-inner .replys .each-reply:first-child {
  padding-top: 0;
}
.pages .page-block .each-inner .replys .each-reply:last-child {
  padding-bottom: 0;
}
.pages .view-left,
.pages .view-right {
  position: absolute;
  opacity: 0;
}
.pages .view-left,
.pages .view-center,
.pages .view-right {
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.pages .view-center {
  opacity: 1;
}
/* .ds-thread {
    background-color: @bg-page!important;
    border-radius: 3px 3px 3px 3px!important;
    padding-bottom: 10px!important;
    #ds-reset {
        & > * {
            -webkit-box-sizing: border-box!important;
            box-sizing: border-box!important;
        }
        .ds-meta {
            .hide!important;
        }
        .ds-comments-info {
            padding: 10px!important;
            background-color: #f6f6f6!important;
            border-radius: 3px 3px 0 0!important;
            .ds-sort {
                right: 10px!important;
                top: inherit!important;
            }
        }
        .ds-comments {
            margin: 0 10px!important;
            width: auto!important;
            & > .ds-post {
                .ds-children {
                    margin-left: 40px!important;
                }
                .ds-post-self {
                    padding: 10px 0px!important;
                }
                &:first-child {
                    border-top: 0!important;
                }
            }
            .ds-comment-body {
                .ds-comment-header {
                    .ds-user-name {
                        color: #00a3cf!important;
                    }
                }
                .ds-comment-footer {
                    .ds-post-likes, .ds-post-report {
                        .hide!important;
                    }
                }
                .ds-post-delete {
                    margin: 0!important;
                }
                .ds-replybox {
                    padding: 0 2px 0 50px!important;
                }
            }
        }
        .ds-login-buttons {
            padding: 10px 10px!important;
            .ds-service-list {
                li:last-child {
                    .hide!important;
                }
            }
        }
        .ds-powered-by {
            .hide!important;
        }
        .ds-toolbar {
            padding: 8px 10px!important;
        }
        .ds-replybox {
            padding: 0 10px 0 50px!important;
            .ds-avatar {
                left: 0!important;
            }
            .ds-post-toolbar {
                .ds-post-options {
                    .ds-sync {
                        .hide!important;
                    }
                }
            }
        }
    }
}
#ds-wrapper {
    .ds-dialog {
        .ds-dialog-inner {
            .ds-dialog-body {
                padding: 0 30px 20px!important;
                h2 {
                    border-bottom: 1px solid #eee!important;
                    margin: 0!important;
                    padding: 15px!important;
                    text-align: center!important;
                }
                .ds-icons-32 {
                    margin: 0!important;
                }
            }
            .ds-dialog-footer {
                .hide!important;
            }
            .ds-dialog-close {
                top: 13px!important;
            }
            .ds-actions {
                label {
                    input {
                        top: 2px!important;
                        position: relative!important;
                        right: 2px!important;
                    }
                    .ds-service-icon {
                        .hide!important;
                    }
                }
            }
        }
    }
} */
/* === Preloader === */
#ds-indicator {
  left: 50%!important;
  top: 50%!important;
  margin: -10px 0 0 -10px !important;
  width: 20px!important;
  height: 20px!important;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: preloader-spin 1s step-end infinite;
  animation: preloader-spin 1s step-end infinite;
  background: none!important;
}
#ds-indicator:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,<svg viewBox='0 0 120 120' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'><defs><line id='l' x1='60' x2='60' y1='7' y2='27' stroke='%236c6c6c' stroke-width='11' stroke-linecap='round'/></defs><g><use xlink:href='%23l' opacity='.27'/><use xlink:href='%23l' opacity='.27' transform='rotate(30 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(60 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(90 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(120 60,60)'/><use xlink:href='%23l' opacity='.27' transform='rotate(150 60,60)'/><use xlink:href='%23l' opacity='.37' transform='rotate(180 60,60)'/><use xlink:href='%23l' opacity='.46' transform='rotate(210 60,60)'/><use xlink:href='%23l' opacity='.56' transform='rotate(240 60,60)'/><use xlink:href='%23l' opacity='.66' transform='rotate(270 60,60)'/><use xlink:href='%23l' opacity='.75' transform='rotate(300 60,60)'/><use xlink:href='%23l' opacity='.85' transform='rotate(330 60,60)'/></g></svg>");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
body[data-page='1'] .slider-nav {
  -webkit-transform: translate3d(0%, 0, 0);
  -moz-transform: translate3d(0%, 0, 0);
  -o-transform: translate3d(0%, 0, 0);
  -ms-transform: translate3d(0%, 0, 0);
  transform: translate3d(0%, 0, 0);
}
body[data-page='2'] .slider-nav {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
body[data-page='3'] .slider-nav {
  -webkit-transform: translate3d(200%, 0, 0);
  -moz-transform: translate3d(200%, 0, 0);
  -o-transform: translate3d(200%, 0, 0);
  -ms-transform: translate3d(200%, 0, 0);
  transform: translate3d(200%, 0, 0);
}
body[data-page='4'] .slider-nav {
  -webkit-transform: translate3d(300%, 0, 0);
  -moz-transform: translate3d(300%, 0, 0);
  -o-transform: translate3d(300%, 0, 0);
  -ms-transform: translate3d(300%, 0, 0);
  transform: translate3d(300%, 0, 0);
}
.header {
  position: fixed;
  z-index: 9999999;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  height: 50px;
  -webkit-transform: scale3d(1, 0.5, 1);
  -moz-transform: scale3d(1, 0.5, 1);
  -o-transform: scale3d(1, 0.5, 1);
  -ms-transform: scale3d(1, 0.5, 1);
  transform: scale3d(1, 0.5, 1);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -ms-transition-property: -ms-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: transform, opacity;
  background: -webkit-gradient(linear, left top, right top, from(#333333), to(#333333));
  background: -webkit-linear-gradient(top, #333333, #333333);
  background: -moz-linear-gradient(top, #333333, #333333);
  background: -o-linear-gradient(top, #333333, #333333);
  background: -ms-linear-gradient(top, #333333, #333333);
  background: linear-gradient(top, #333333, #333333);
  background-color: #333333;
}
.header.active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
.header .nav-list {
  height: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
}
.header .nav-list .each-nav {
  float: left;
  cursor: pointer;
  color: #ffffff;
  width: 25%;
  height: 100%;
  line-height: 50px;
  text-align: center;
}
.header .nav-list .slider-nav {
  background-color: #ff6347;
  width: 25%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
}
.header .nav-list .back-index {
  position: absolute;
  width: 50px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  color: #fff;
  left: 100%;
  cursor: pointer;
}
@media screen and (max-width: 1124px) {
  .header .nav-list .back-index {
    visibility: hidden;
    width: 0;
  }
}
body.after-active .container ul.list {
  background-color: #fff;
}
.container {
  width: 100%;
  height: 100%;
  background-size: 100%;
  -webkit-perspective: 350px;
  text-align: center;
}
.container:after {
  content: "";
  height: 100%;
}
.container:after,
.container .list {
  display: inline-block;
  vertical-align: middle;
}
.container ul.list {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #b7a50e;
  opacity: 0.9;
}
.container ul.list li.each-block {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  -webkit-transform: scale3d(0.5, 0.5, 1);
  -moz-transform: scale3d(0.5, 0.5, 1);
  -o-transform: scale3d(0.5, 0.5, 1);
  -ms-transform: scale3d(0.5, 0.5, 1);
  transform: scale3d(0.5, 0.5, 1);
  -webkit-transition: 0.5s cubic-bezier(0.13, 0.87, 0.96, 0.34);
  -moz-transition: 0.5s cubic-bezier(0.13, 0.87, 0.96, 0.34);
  -o-transition: 0.5s cubic-bezier(0.13, 0.87, 0.96, 0.34);
  transition: 0.5s cubic-bezier(0.13, 0.87, 0.96, 0.34);
  -webkit-transition-property: -webkit-transform, opacity, background-color;
  -moz-transition-property: -moz-transform, opacity, background-color;
  -ms-transition-property: -ms-transform, opacity, background-color;
  -o-transition-property: -o-transform, opacity, background-color;
  transition-property: transform, opacity, background-color;
  background-color: #b7a50e;
  text-align: center;
}
.container ul.list li.each-block:after {
  content: "";
  height: 100%;
}
.container ul.list li.each-block:after,
.container ul.list li.each-block .inner {
  display: inline-block;
  vertical-align: middle;
}
.container ul.list li.each-block.top {
  top: 0;
  border-bottom: 1px solid #ccc;
}
.container ul.list li.each-block.right {
  right: 0;
  border-left: 1px solid #ccc;
}
.container ul.list li.each-block.bottom {
  bottom: 0;
  border-top: 1px solid #ccc;
}
.container ul.list li.each-block.left {
  left: 0;
  border-right: 1px solid #ccc;
}
.container ul.list li.each-block.left.top {
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -o-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.container ul.list li.each-block.right.top {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -o-transform-origin: right top;
  -ms-transform-origin: right top;
  transform-origin: right top;
}
.container ul.list li.each-block.left.bottom {
  -webkit-transform-origin: left bottom;
  -moz-transform-origin: left bottom;
  -o-transform-origin: left bottom;
  -ms-transform-origin: left bottom;
  transform-origin: left bottom;
}
.container ul.list li.each-block.right.bottom {
  -webkit-transform-origin: right bottom;
  -moz-transform-origin: right bottom;
  -o-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}
.container ul.list li.each-block:hover,
.container ul.list li.each-block.active {
  background-color: #e1e1e1;
}
.container ul.list li.each-block.active {
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  -o-transform: scale3d(1, 1, 1);
  -ms-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  padding-top: 50px;
}
.container ul.list li.each-block.active .inner > .title {
  height: 0;
  opacity: 0;
}
.container ul.list li.each-block.after-active,
.container ul.list li.each-block.has-one-active {
  border: 0 solid;
}
.container ul.list li.each-block.after-active {
  height: auto;
}
.container ul.list li.each-block.after-active.bottom {
  bottom: auto;
}
.container ul.list li.each-block.after-active .inner .inner-container,
.container ul.list li.each-block.after-active .inner {
  height: auto;
  opacity: 1;
}
.container ul.list li.each-block.has-one-active {
  overflow: hidden;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  -o-transform: scale3d(0, 0, 0);
  -ms-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
}
.container ul.list li.each-block.active,
.container ul.list li.each-block.has-one-active {
  -webkit-transition-timing-function: cubic-bezier(0.31, 0.66, 0.7, 0.38);
  -moz-transition-timing-function: cubic-bezier(0.31, 0.66, 0.7, 0.38);
  -ms-transition-timing-function: cubic-bezier(0.31, 0.66, 0.7, 0.38);
  -o-transition-timing-function: cubic-bezier(0.31, 0.66, 0.7, 0.38);
  transition-timing-function: cubic-bezier(0.31, 0.66, 0.7, 0.38);
}
.container ul.list li.each-block .inner {
  width: 100%;
}
.container ul.list li.each-block .inner > .title,
.container ul.list li.each-block .inner .inner-container {
  -webkit-transition: opacity 0.5s;
  -moz-transition: opacity 0.5s;
  -o-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
.container ul.list li.each-block .inner > .title {
  height: auto;
  opacity: 1;
}
@media screen and (min-width: 768px) {
  .container ul.list li.each-block .inner > .title {
    font-size: 50px;
  }
}
.container ul.list li.each-block .inner .inner-container {
  text-align: left;
  height: 0;
  opacity: 0;
}
.container ul.list li.each-block.scroll.after-active {
  height: 100%;
}
.container ul.list li.each-block.scroll.after-active .inner .inner-container,
.container ul.list li.each-block.scroll.after-active .inner {
  height: 100%;
  opacity: 1;
}
.container ul.list li.each-block.scroll .inner {
  overflow: hidden;
}
.container ul.list li.each-block.scroll .inner .inner-container {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.footer {
  min-height: 50px;
  background-color: #ffffff;
}
.footer .content {
  max-width: 1024px;
  margin: 0 auto;
  text-align: center;
  line-height: 50px;
}
/*# sourceMappingURL=index.css.map */