@import '../partless/_base';
@import '../partless/_clearfix';
@import '../partless/_inline-block-center';
@import '../partless/_css3';

.pages {
	width: 100%;
	max-width: @max-width;
	min-height: 100%;
	margin: auto;
	.page-block {
		margin: 15px auto;
		.each-header {
			padding: 10px;
			background-color: #f6f6f6;
			border-radius: 3px 3px 0 0;
		}
		.each-inner {
			background-color: @bg-page;
			border-radius: 0 0 3px 3px;
		}
	}
}