@import '../partless/_base';
@import '../partless/_clearfix';
@import '../partless/_twoside';
@import '../partless/_inline-block-center';
@import '../partless/_css3';
.pointer {
	cursor: pointer;
}
.hide() {
	display: none;
}
.ds-thread {
	background-color: @bg-page!important;
	border-radius: 3px 3px 3px 3px!important;
	padding-bottom: 10px!important;
	.ds-meta {
		.hide!important;
	}
	.ds-comments-info {
		padding: 10px!important;
		background-color: #f6f6f6!important;
		border-radius: 3px 3px 0 0!important;
		-webkit-box-sizing: border-box!important;
        box-sizing: border-box!important;
        .ds-sort {
        	right: 10px!important;
        	top: inherit!important;
        }
	}
	.ds-comments {
		.ds-post {
			&:first-child {
				border-top: 0!important;
			}
		}
		.ds-comment-body {
			.ds-comment-header {
				.ds-user-name {
					color: tomato!important;
				}
			}
			.ds-comment-footer {
				.ds-post-likes, .ds-post-report {
					.hide!important;
				}
			}
			.ds-post-delete {
				margin: 0!important;
			}
			.ds-replybox {
				padding: 0 0 0 60px!important;
			}
		}
	}
	.ds-powered-by {
		.hide!important;
	}
	.ds-toolbar {
		-webkit-box-sizing: border-box!important;
        box-sizing: border-box!important;
        padding: 8px 10px!important;
	}
	.ds-replybox {
		padding: 0 10px 0 70px!important;
		.ds-avatar {
			left: 10px!important;
		}
		.ds-post-toolbar {
			.ds-post-options {
				.ds-sync {
					.hide!important;
				}
			}
		}
	}

}
.pages {
	position: relative;
	width: 100%;
	max-width: @max-width;
	// min-height: 100%;
	margin: auto;
	.page-block {
		margin: 15px auto;
		.each-header {
			padding: 10px;
			background-color: #f6f6f6;
			border-radius: 3px 3px 0 0;
			.big-size {
				font-size: 20px;
				font-weight: 700;
			}
			.changes {
				font-size: 14px;
				margin-top: 5px;
				color: @color-gray;
			}
		}
		.each-inner {
			padding: 10px;
			background-color: @bg-page;
			border-radius: 0 0 3px 3px;
			.articles {
				.article {
					padding: 10px 0;
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						padding-bottom: 0;
					}
					& + .article {
						border-top: 1px solid #eee;
					}
					.display-flex;
					.title {
						.flex(3);
					}
					.time {
						.flex(1);
						line-height: 24px;
						text-align: right;
					}
				}
			}
			.replys {
				font-size: 14px;
				.each-reply {
					padding: 10px 0;
					.left-right(50px);
					& > .right {
						
						.word {
							.user {
								color: tomato;
								margin-bottom: 5px;
							}
							min-height: 50px;
						}
						.message {
							text-align: right;
							color: @color-gray;
							& > span {
								margin-left: 10px;
							}
							& > span:before {
								margin-right: 2px;
							}
							& > span.pointer:hover {
								color: darken(@color-gray, 10%);
							}
						}
					}
					& + .each-reply {
						border-top: 1px solid #ccc;
					}
					&:first-child {
						padding-top: 0;
					}
					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}
	}

	.view-left, .view-right {
		position: absolute;
		opacity: 0;
	}
	.view-left, .view-center, .view-right {
		.transition(0.5s);
	}
	.view-center {
		opacity: 1;
	}
}