@import '_base';
@import 'partless/_clearfix';
@import 'partless/_inline-block-center';
@block_color: rgba(183, 165, 14, 1);
.container {
    width: 100%;
    height: 100%;
    // 3D透视

    -webkit-perspective: 350px;
    .inline-block-center(list);
    ul.list {
        position: relative;

        width: 100%;
        max-width: 1024px;
        height: 100%;
        max-height: 768px;

        background-color: @block_color;
        li.each-block {
            position: absolute;

            width: 50%;
            height: 50%;

			transition: width @t_time, height @t_time, background-color @t_time, opacity @t_time;
			// 收起曲线
			transition-timing-function: @t_ease;

            border: 1px solid #ccc;
            background-color: @block_color;

			@t_time: .5s;
			@t_ease: cubic-bezier(.13,.87,.96,.34);
            .inline-block-center(inner);
            &.top {
                top: 0;
            }
            &.right {
                right: 0;
            }
            &.bottom {
                bottom: 0;
            }
            &.left {
                left: 0;
            }
            &:hover, &.active {
                background: @active_base;
            }
            &.active {
                width: 100%;
                height: 100%;
            }
            &.has-one-active {
                overflow: hidden;

                width: 0;
                height: 0;

                opacity: 0;
                border: 0 solid;
            }
            &.active, &.has-one-active {
            	transition-timing-function: @t_ease;
				//展开曲线

                @t_ease: cubic-bezier(.31,.66,.7,.38);
            }
        }
    }
}
