@import 'pages/_container_layout';
@import 'pages/_page1';
@import 'pages/_page2';
@import 'pages/_page3';
@import 'pages/_page4';
@block_color: rgba(183, 165, 14, 1);
@header_height: 50px;

.opacity-height-0() {
    height: 0;

    opacity: 0;
}
.opacity-height-1() {
    height: auto;

    opacity: 1;
}

.header {
    position: fixed;
    z-index: 9999999;

    width: 100%;

    transition: @base_duration;
    transition-property: height, opacity;

    .background-gradient(top, #333, #333);
    .opacity-height-0;
    &.active {
        height: @header_height;

        opacity: 1;
    }
    .nav-list {
        .each-nav {
            float: left;

            color: rgb(255, 255, 255);
        }
    }
}

.container {
    width: 100%;
    height: 100%;

    .background-gradient(top, @bg_base, @block_color);
    -webkit-perspective: 350px;
    .inline-block-center(list);
    ul.list {
        position: relative;

        width: 100%;
        max-width: 1024px;
        height: 100%;
        max-height: 768px;

        background-color: @block_color;
        li.each-block {
            position: absolute;

            overflow: hidden;

            width: 50%;
            height: 50%;

            transition: @t_time;
            transition-timing-function: @t_ease;
            transition-property: width, height, background-color, opacity;

            background-color: @block_color;

            @t_time: @base_duration;
            @t_ease: cubic-bezier(.13,.87,.96,.34);
            .inline-block-center(inner);
            &.top {
                top: 0;

                border-bottom: 1px solid #ccc;
            }
            &.right {
                right: 0;

                border-left: 1px solid #ccc;
            }
            &.bottom {
                bottom: 0;
            }
            &.left {
                left: 0;
            }
            &:hover, &.active {
                background: @active_base;
            }
            &.active {
                width: 100%;
                height: 100%;
            }
            &.after-active, &.has-one-active {
                border: 0 solid;
            }
            &.after-active {
                .inner {
                    height: 100%;
                }
            }
            &.has-one-active {
                overflow: hidden;

                width: 0;
                height: 0;

                opacity: 0;
            }
            &.active, &.has-one-active {
                transition-timing-function: @t_ease;

                @t_ease: cubic-bezier(.31,.66,.7,.38);
            }
            .inner .title, &.after-active .inner .inner-container {
                transition: @base_duration;
                transition-property: opacity;

                .opacity-height-1;
            }
            .inner .inner-container, &.active .inner .title {
                .opacity-height-0;
            }
            .inner {
                overflow: hidden;

                width: 100%;
                .inner-container {
                    padding-top: @header_height;

                    text-align: left;
                }
            }
        }
    }
}
