@import 'pages/_container_layout';
@import 'pages/_page1';
@import 'pages/_page2';
@import 'pages/_page3';
@import 'pages/_page4';
.opacity-height-0() {
    height: 0;

    opacity: 0;
}
.opacity-height-1() {
    height: auto;

    opacity: 1;
}

.slider(@num) when (@num > 0) {
    .slider(@num - 1);
    body[data-page='@{num}'] {
        .slider-nav {
            .transform-translate3d(@num*100%-100%, 0, 0);
        }
    }
}

.slider(4);

.header {
    position: fixed;
    z-index: 9999999;
    opacity: 0;

    overflow: hidden;

    width: 100%;
    height: @header_height;

    .transform-scale3d(1, .5, 1);
    .transform-origin(left, top);

    .transition(@base_duration);
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    -ms-transition-property: -ms-transform, opacity;
    -o-transition-property: -o-transform, opacity;
    transition-property: transform, opacity;

    .background-gradient(top, #333, #333);
    &.active {
        opacity: 1;
        .transform-scale3d(1, 1, 1);
    }
    .nav-list {
        height: 100%;
        max-width: @max-width;
        margin: auto;
        position: relative;
        .each-nav {
            float: left;
            cursor: pointer;
            color: rgb(255, 255, 255);
            width: 25%;
            height: 100%;
            line-height: @header_height;
            text-align: center;
            &.active {
                // background-color: @header-active;
            }
        }
        .slider-nav {
            background-color: @header-active;
            width: 25%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0.5;
            .transition(@base_duration);
            -webkit-transition-property: -webkit-transform;
            -moz-transition-property: -moz-transform;
            -ms-transition-property: -ms-transform;
            -o-transition-property: -o-transform;
            transition-property: transform;
        }
        .back-index {
            position: absolute;
            width: 50px;
            height: 100%;
            text-align: center;
            line-height: 50px;
            color: #fff;
            left: 100%;
            cursor: pointer;
        }
        @media screen and (max-width: 1124px) {
            .back-index {
                visibility: hidden;
                width: 0;
            }
        }
    }
}
body.after-active {
    .container {
        ul.list {
            background-color: #fff;
        }
    }
}
.container {
    width: 100%;
    height: 100%;

    // .background-gradient(top, @bg_base, @block_color);
    // background-image: url(../img/bg.jpg);
    background-size: 100%;
    -webkit-perspective: 350px;
    .inline-block-center(list);
    ul.list {
        position: relative;

        width: 100%;
        // max-width: @max-width;
        height: 100%;
        max-height: @max-height;

        background-color: @block_color;
        opacity: 0.9;

        li.each-block {
            position: absolute;

            overflow: hidden;

            width: 100%;
            height: 100%;
            .transform-scale3d(.5, .5, 1);

            .transition(@t_time @t_ease);
            -webkit-transition-property: -webkit-transform, opacity, background-color;
            -moz-transition-property: -moz-transform, opacity, background-color;
            -ms-transition-property: -ms-transform, opacity, background-color;
            -o-transition-property: -o-transform, opacity, background-color;
            transition-property: transform, opacity, background-color;

            background-color: @block_color;

            @t_time: @base_duration;
            @t_ease: cubic-bezier(.13,.87,.96,.34);
            .inline-block-center(inner);
            .each-block-mixin(top, bottom);
            .each-block-mixin(right, left);
            .each-block-mixin(bottom, top);
            .each-block-mixin(left, right);
            .each-block-mixin(@top, @bottom) {
                &.@{top} {
                    @{top}: 0;
                    border-@{bottom}: 1px solid #ccc;
                }
            }
            .each-block-mixin-transform-origin(left, top);
            .each-block-mixin-transform-origin(right, top);
            .each-block-mixin-transform-origin(left, bottom);
            .each-block-mixin-transform-origin(right, bottom);
            .each-block-mixin-transform-origin(@left, @top) {
                &.@{left}.@{top} {
                    .transform-origin(@left, @top);
                }
            }
            &:hover, &.active {
                background-color: @active_base;
            }
            &.active {
                .transform-scale3d(1, 1, 1);
                padding-top: @header_height;
                .inner {
                    & > .title {
                        .opacity-height-0;
                    }
                }
            }
            &.after-active, &.has-one-active {
                border: 0 solid;
            }
            &.after-active {
                height: auto;
                &.bottom {
                    bottom: auto;
                }
                .inner {
                    .inner-container, & {
                        height: auto;
                        opacity: 1;
                    }
                }
            }
            &.has-one-active {
                overflow: hidden;
                .transform-scale3d(0, 0, 0);
            }
            &.active,
            &.has-one-active {
                -webkit-transition-timing-function: @t_ease;
                -moz-transition-timing-function: @t_ease;
                -ms-transition-timing-function: @t_ease;
                -o-transition-timing-function: @t_ease;
                transition-timing-function: @t_ease;

                @t_ease: cubic-bezier(.31,.66,.7,.38);
            }
            .inner {

                width: 100%;
                & > .title, .inner-container {
                    .transition(opacity @base_duration);
                }
                & > .title {
                    .opacity-height-1;
                    @media screen and (min-width: 768px) {
                        font-size: 50px;
                    }
                }
                .inner-container {
                    text-align: left;

                    .opacity-height-0;
                }
            }
            // scroll inner
            &.scroll {
                &.after-active {
                height: 100%;
                    .inner {
                        .inner-container, & {
                            height: 100%;
                            opacity: 1;
                        }
                    }
                }
                .inner {
                    overflow: hidden;
                    .inner-container {
                        overflow-y: auto;
                        -webkit-overflow-scrolling : touch;
                    }
                }
            }
        }
    }
}
.footer {
    min-height: 50px;
    background-color: @bg-page;
    .content {
        max-width: @max-width;
        margin: 0 auto;
        text-align: center;
        line-height: 50px;
    }
}